<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="./Login/teladelogin.css">
   
</head>
<body>
    
    <div>
        <form action="./login.php" method="POST"  class="tela-login">
            <label for="cpf" class="labelInput"><h1>Login</h1></label>
            <input type="text" name="cpf" id="cpf" class="inputUser" placeholder="CPF" required>
            <br>
            <br>
            <label for="senha" class="labelInput"></label>
            <input type="text" name="senha" id="senha" class="inputUser" placeholder="senha" required>
            <br>
            <br>
            <input class="inputSubmit" type="submit" name="submit" value="Enviar"> 
        </form action="POST">
    </div>
</body>
</html>